<div [class]="{
    'display-inline-block': true,
    'py-1': true,
    'px-2': true,
    'border': true,
    'rounded': true,
    'lh-base': true,
    'fs-sm': true,
    'text-nowrap': true,
    'border-dark': type === 0,
    'bg-dark': type === 0,
    'border-success': type === 1,
    'bg-success': type === 1,
    'border-danger': type === 2,
    'bg-danger': type === 2,
    'border-info': type === 3,
    'bg-info': type === 3,
    'border-warning': type === 4,
    'bg-warning': type === 4,
    'text-light': true
}">{{ text }}</div>