<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">
            <i class="bi bi-code-slash"></i> IdeTwo
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="fileDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        File
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="fileDropdown">
                        <li (click)="newFile()">
                            <span class="dropdown-item">
                                New File
                            </span>
                        </li>
                        <li (click)="saveFile()">
                            <span class="dropdown-item">
                                Save File <small class="text-muted fs-6">(Ctrl + S)</small>
                            </span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li (click)="filePicker.openFileDialog()">
                            <span class="dropdown-item">Import Local File...</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li (click)="saveToDevice()">
                            <span class="dropdown-item">
                                Save To Device <small class="text-muted fs-6">(Ctrl + Shift + S)</small>
                            </span>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="codeDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Code
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="codeDropdown">
                        <li data-bs-toggle="modal" data-bs-target="#changeLanguageModal">
                            <span class="dropdown-item">Change Language Mode...</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li (click)="run()"><a class="dropdown-item">Run</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <span class="nav-link">
                        About
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12 col-md-8 vh-80 d-flex flex-column">
            <div class="d-flex p-2">
                <div class="flex-grow-1 flex-shrink-1 text-truncate">
                    <app-editable-text [text]="source.name" prompt="Enter a name here..." [maxLength]="128"
                        (textChanged)="changeName($event)"></app-editable-text>
                </div>
                <div class="ps-2">
                    <button type="button" class="btn btn-sm btn-dark text-nowrap" data-bs-toggle="modal"
                        data-bs-target="#changeLanguageModal">
                        {{ languageName }}
                    </button>
                </div>
                <div *ngIf="unsaved" class="ps-2">
                    <app-text-block text="Not saved"></app-text-block>
                </div>
            </div>
            <div class="flex-grow-1 overflow-auto">
                <ngx-codemirror [options]="{mode: languageMode, lineNumbers: true, theme: 'ayu-mirage'}"
                    [(ngModel)]="source.content" (ngModelChange)="onEditorUpdated()">
                </ngx-codemirror>
            </div>
        </div>
        <div class="col-12 col-md-4 vh-80">
            <div class="w-100 h-50 d-flex flex-column py-2">
                <div class="text-dark py-2">
                    Input
                </div>
                <div class="flex-grow-1 overflow-auto">
                    <ngx-codemirror [options]="{mode: null, lineNumbers: true, theme: 'ayu-mirage'}"
                        [(ngModel)]="source.input" (ngModelChange)="onEditorUpdated()"></ngx-codemirror>
                </div>
            </div>
            <div class="w-100 h-50 d-flex flex-column">
                <div class="d-flex">
                    <div class="text-dark py-2">
                        Output
                    </div>
                    <div *ngIf="execution" class="flex-grow-1 flex-shrink-1 d-flex justify-content-end">
                        <div *ngIf="execution.status === 0" class="spinner-border" role="status"></div>
                        <ng-container *ngIf="execution.status > 0">
                            <app-text-block class="px-2" [text]="statusString" [type]="execution.status === 5? 1 : 2">
                            </app-text-block>
                            <app-text-block *ngIf="execution.status === 3" [text]="'Exit code: ' + execution.exitCode"
                                [type]="2">
                            </app-text-block>
                            <app-text-block *ngIf="execution.status === 4 || execution.status === 5"
                                [text]="'Run time: ' + execution.runTime + ' ms'"
                                [type]="execution.status === 4? 2 : 1">
                            </app-text-block>
                        </ng-container>
                    </div>
                </div>
                <div class="flex-grow-1 overflow-auto">
                    <ngx-codemirror [options]="{mode: null, lineNumbers: true, theme: 'ayu-mirage', readOnly: true}"
                        [ngModel]="execution? execution.output : ''">
                    </ngx-codemirror>
                </div>
            </div>
        </div>
    </div>
</div>

<app-file-picker #filePicker accept=".c,.cpp,.java,.py" (fileSelected)="importLocalFile($event)"></app-file-picker>

<div class="modal fade" id="changeLanguageModal" tabindex="-1" aria-labelledby="changeLanguageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeLanguageLabel">Change Language Mode</h5>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li *ngFor="let item of languageModeOptions"
                        [class]="{'list-group-item': true, 'list-group-item-action': true, 'active': item.value === source.language}"
                        data-bs-dismiss="modal" (click)="changeLanguageMode(item.value)">
                        {{ item.label }}
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unsavedModal" tabindex="-1" aria-labelledby="unsavedLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Unsaved changes will be lost. Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                    (click)="onUnsavedModalConfirmed()">Yes</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div #unsavedModalToggler data-bs-toggle="modal" data-bs-target="#unsavedModal"></div>