<router-outlet></router-outlet>
<div class="text-center mb-3 lead">
    IdeTwo by <a href="https://github.com/tranHieuDev23" target="blank" class="text-decoration-none">tranHieuDev23</a>
    with ❤
</div>
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div *ngFor="let item of notificationList" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div *ngIf="item.header?.length" class="toast-header">
            <i *ngIf="item.type === 0" class="bi bi-check-circle me-2 text-success"></i>
            <i *ngIf="item.type === 1" class="bi bi-x-circle me-2 text-danger"></i>
            <i *ngIf="item.type === 2" class="bi bi-info-circle me-2 text-info"></i>
            <i *ngIf="item.type === 3" class="bi bi-exclamation-triangle me-2 text-warning"></i>
            <strong class="me-auto">{{ item.header }}</strong>
        </div>
        <div *ngIf="item.body?.length" class="toast-body bg-light">
            {{ item.body }}
        </div>
    </div>
</div>